firmware/*
!firmware/lib
!firmware/HelloWorld
!firmware/FreeRTOS
!firmware/Telemetry

tools/Hyperload
tools/Telemetry

tools/gcc-arm-none-eabi-*

cmpe146
**/.gdb_history
**/.DS_Store
**/flash.txt
