Firmware/*
!Firmware/default/
Firmware/default/bin/*
Firmware/default/obj/*
Firmware/default/projects/*
!Firmware/default/projects/HelloWorld
!Firmware/default/projects/FreeRTOS

cmpe146
**/.gdb_history
**/.DS_Store
