firmware/*
firmware/**/bin
firmware/**/obj
firmware/**/makefile

!firmware/lib
!firmware/HelloWorld
!firmware/FreeRTOS
!firmware/Telemetry

tools/Hyperload
tools/Telemetry
tools/bin
tools/gcc-arm-none-eabi-*

**/.gdb_history
**/.DS_Store
**/flash.txt
**/env.sh
