<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Khalil A. Estell">
    <meta name="description" content="Web Interface to display and modify firmware variables within the SJOne Development board.">
    <title>SJOne Telemetry</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lib/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='dashboard.css') }}">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            Telemetry
            <span class='supsub'>
                <sup class='superscript'>{{ version }}</sup>
                <sub class="subscript connected-text" id="server-connection-indicator"></sub>
            </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline mt-2 mt-md-0">
                <label class="form-check-label" style="margin-right: 15px; color: white;">
                    <input class="form-check-input" type="checkbox" value="telemetry" id="graph-switch" checked>
                    Graph
                </label>
                <label class="form-check-label" style="margin-right: 15px; color: white;">
                    <input class="form-check-input" type="checkbox" value="telemetry" id="telemetry-on" checked>
                    Telemetry
                </label>
                <label class="form-check-label" style="margin-right: 15px; color: white;">
                    <input class="form-check-input" disabled type="checkbox" value="reset" id="reset-on-connect" checked>
                    Reset On Connect
                </label>
                <button class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 10px;" id="refresh" type="submit">Refresh Devices</button>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="device-select">
                    <option value="-1" selected>Select Serial Device ...</option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" id="connect">Connect</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid pt-4" style="height: 100%">
        <div class="row" style="height: 97.5%">
            <main class="col-sm-12 col-md-12 col-lg-5">
                <div style="display: inherit;">
                    <h2>Serial Output</h2>
                    <select style="margin-left: 15px" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="serial-frequency-select">
                        <option selected value="1">Serial 1 Hz</option>
                        <option          value="2">Serial 2 Hz</option>
                        <option          value="4">Serial 4 Hz</option>
                        <option          value="5">Serial 5 Hz</option>
                        <option         value="10">Serial 10 Hz</option>
                    </select>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="serial-baud-select">
                        <option            value="110">110 baud</option>
                        <option            value="150">150 baud</option>
                        <option            value="300">300 baud</option>
                        <option           value="1200">1200 baud</option>
                        <option           value="2400">2400 baud</option>
                        <option           value="4800">4800 baud</option>
                        <option           value="9600">9600 baud</option>
                        <option          value="19200">19200 baud</option>
                        <option selected value="38400">38400 baud</option>
                        <option          value="57600">57600 baud</option>
                        <option         value="115200">115200 baud</option>
                        <option         value="230400">230400 baud</option>
                        <option         value="460800">460800 baud</option>
                        <option         value="921600">921600 baud</option>
                    </select>
                </div>
                <hr>
                <div class="input-group" style="margin-bottom: 10px">
                    <input type="text" class="form-control" placeholder="Write Serial Data Here ..." name="serial-input">
                    <span class="input-group-addon">
                        <input type="checkbox" id="carriage-return-select"> <span>&nbsp;CR</span>
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" id="newline-select" checked><span>&nbsp;NL</span>
                    </span>
                    <span class="input-group-btn">
                        <button id="serial-send" class="btn btn-secondary btn-outline-info" type="button">Send</button>
                    </span>
                </div>
                <textarea disabled id="serial-output" class="form-control fill"></textarea>
            </main>
            <main class="col-sm-12 col-md-12 col-lg-7">
                <div style="display: inherit;">
                    <h2>Telemetry Feedback</h2>
                    <select style="margin-left: 15px" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="telemetry-frequency-select">
                        <option selected value="1">Telem 1 Hz</option>
                        <option          value="2">Telem 2 Hz</option>
                        <option          value="4">Telem 4 Hz</option>
                        <option          value="5">Telem 5 Hz</option>
                        <option          value="5">Telem 10 Hz</option>
                    </select>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="graph-frequency-select">
                        <option selected value="1">Graph 1 Hz</option>
                        <option          value="2">Graph 2 Hz</option>
                        <option          value="4">Graph 4 Hz</option>
                        <option          value="5">Graph 5 Hz</option>
                    </select>
                </div>
                <hr>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#table" role="tab">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#graph" role="tab">Graph</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#raw" role="tab">Raw</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content" style="height: 0%; flex-grow: 0.95; overflow-y: auto;">
                    <div class="tab-pane active" id="table" role="tabpanel" style="height:96%;">
                        <div class="table-responsive" style="height:100%">
                            <table id="telemetry-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Bucket</th>
                                        <th>Variable Name</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                        <th>Set</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="graph" style="height:96%; width: 97.5%;" role="tabpanel">
                        <div class="row" id="graph-holder"></div>
                    </div>
                    <div class="tab-pane" id="raw" style="height:96%" role="tabpanel">
                        <textarea disabled id="telemetry-raw" style="height: 100%" class="form-control"></textarea>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Server Disconnect</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>You are no longer connected to Telemetry Server.<br> <strong>Restart</strong> telemetry server and reload page.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap-4.0.0-alpha.6/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap-4.0.0-alpha.6/js/tether.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static',filename='lib/bootstrap-4.0.0-alpha.6/js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/highcharts/highstock.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/highcharts/exporting.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/export-csv-master/export-csv.js') }}"></script>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
</body>

</html>